.current-weather-display {
    background-color: #ECEFF1;    
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-right: 5px solid;
}

.current-weather-display .refresh {
    cursor: pointer;
    color: #4CAF50;
}

.current-weather-display {
    .weather-location, .weather-min-max-temp {
        font-size: 16px;
        vertical-align: middle;
        text-align: left;
        display: inline-block;
    }
}

.current-weather-display .weather-min-max-temp {
    font-size: 16px;
    vertical-align: middle;
    text-align: right;
}

.current-weather-display .weather-current .weather-temp {
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    padding: 0;
}

.current-weather-display .weather-condition {
    text-align: right;
}

.current-weather-display .weather-condition .weather-icon {
    height: 2.4rem;
    vertical-align: middle;
}

.current-weather-display .weather-condition .weather-description {
    font-size: 16px;
    vertical-align: middle;
}

.current-weather-display .weather-update {
    font-size: 0.8rem;
    vertical-align: top;
    text-align: left;
    display: inline-block;
}

.weather-current, .weather-condition {
    display: inline-block;
    text-align: left;
}