$hourly-weather-display-height: 100px;
$hourly-weather-display-color: lightSteelBlue;

.hourly-weather-card {
    height: $hourly-weather-display-height;
    text-align: center;

    .text-capitalize {
        font-size: 14px;
    }
}

.hourly-weather-card .icon {
    height: 30px;
    max-width: 30px;
}

.hourly-weather-display {
    background-color: $hourly-weather-display-color;
    height: $hourly-weather-display-height;
    position: relative;
    width: 100%;
    display: inline-block;
}

.hourly-weather-display .carousel {
    position: absolute;
    width: 100%;
}

.hourly-weather-display .carousel-nav {
    cursor: pointer;
    line-height: $hourly-weather-display-height;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    height: 100px;
}

.hourly-weather-display .carousel-nav > i {
    vertical-align: middle;
}